html, body {
  width:100%;
  height:100%;
  background:#fefefe;
  border:none;
  margin:none;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color : #ffffff;
}

a:before {
  font-family: FontAwesome;
  content: "\f0c1";
  font-size : 0.8em;
  vertical-align:middle;
  display: inline-block;
  padding-right: 3px;
}

em {
  font-weight:bold;
  font-style: normal;
  font-size:1.2em;
}
.page {
  position:relative;
  width:100%;
  overflow: hidden;
  
  /* fix size */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.about-wrapper {
  height:100%;
  display:table;
  
  background:black;
  background:url(bg.jpg);
  background-size: auto, 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.about-outer {
  display:table-cell;
  vertical-align:middle;
}
.about-inner {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  text-align:center;
  -webkit-text-shadow:0px 2px 10px #000000;
     -moz-text-shadow:0px 2px 10px #000000;
          text-shadow:0px 2px 10px #000000;
}

.cursor:after{
  content: "|";
  
  -webkit-animation-name: blink;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-timing-function: linear, steps(2, end);
  
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: linear, steps(2, end);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
/* Standard syntax */
@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.avatar {
  position : relative;
}

.control {
  background: transparent;
  border: 1px solid #bbbbbb;
  padding: 0.5em;
  border-radius: 6px;
  behavior: url(border-radius.htc); /* IE 6-8 */
}
.control.hide {
  display: none;
}
.control:before {
  font-family: FontAwesome;
  font-size : 0.8em;
  vertical-align:middle;
  display: inline-block;
  padding-right: 3px;
}
.control.play:before {
  content: "\f04b";
}
.control.play:after {
  content: "play";
}

.control.stop:before {
  content: "\f04d";
}
.control.stop:after {
  content: "stop";
}

.from {
  text-align: center;
  background: #ffffff;
  color: #111111;
  
  padding-top:2em;
  padding-bottom:2e;
}
.from .map {
  margin: 0px;
  position: relative;
  height: 400px;
}
.from .map iframe {
  width: 100%;
  height: 100%;
}

.from .description {
  background-image: url(ncku-logo.jpg);
  background-size: auto, 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.from .text {
  position: relative;
  background: rgba(255,255,255,0.7);
  background: -moz-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.7)), color-stop(100%, rgba(255,255,255,0.7)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b3ffffff', endColorstr='#b3ffffff');
}

.learning {
  text-align:center;
  background: #f2f2f2;
  
  padding-top:2em;
  padding-bottom:2e;
}
.learning .skill {
  width: 100%;
  display: inline-block;
  position:relative;
  vertical-align:top;
}
.learning .skill .skill-inner {
  margin-left:auto;
  margin-right:auto;
  background: #dddddd;
  width: 95%;
  margin-bottom:0.5em;
  overflow:hidden;
  padding-top:1em;
  
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);

}
.learning .skill .skill-inner .text {
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.learning .skill .skill-inner .js-icon {
  width :80px;
  height: 80px;
  display: inline-block;
  position:relative;
  vertical-align:top;

}
.learning .skill .skill-inner .js-icon:before {
  display:block;
  position: absolute;
  left: 5px;
  top:5px;
  bottom: 5px;
  right:5px;
  background: #ffff77;
  content:"";
}

.learning .skill .skill-inner .js-icon:after {
  display:block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  color: #d2f2f2;
  content:"JS";
}


.contact {
  color: #f7f7f7;
  background: #222222;
  text-align: center;
  
  padding-top:2em;
  padding-bottom:2e;
}

.contact .contact-method {
  vertical-align:top;
  width: 95%;
  display: inline-block;
  /*height: 200px;*/
  border-top: #777777 solid 1px;
  padding-top:1em;
  padding-bottom:1em;
}
.footer {
  text-align: center;
  background:#333333;
  color: #dddddd;
}
.footer a {
  color: #dddddd;
}



.nav {
  z-index:99998;
  position: fixed;
  top: 0px;
  left:0px;
  right:0px;
  
  text-align: right;
  line-height: 2em;
  height: 2em;
  padding: 0.2em;
}
.nav .icon {
  display: inline-block;
  height:2em;
  width:2em;
  line-height:1.8em;
  text-align: center;
  box-sizing: border-box;
  border: 0.1em solid #ffffff;
  border-radius: 4px;
  /*vertical-align: middle;*/
  behavior: url(border-radius.htc); /* IE 6-8 */
  color:white;
}
.nav .overlay {
  z-index:99999;
  position: fixed;
  top: 0px;
  bottom:0px;
  right:0px;
  left:0px;
  background: rgba(64, 64, 64, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b3404040', endColorstr='#b3404040');
  display: none;
  
}
#toggle-menu:checked ~ .overlay {
  display: block;
}

.nav .links {
  position:absolute;
  right:0px;
  top:0px;
  bottom:0px;
  width:240px;
  
  list-style: none;
  text-align: right;
  
  padding: 1em;
  
  margin:0px;
  
  background:#7799aa;
  color:white;
}
.nav a:before {
  display: none;
}

.nav .links li {
  text-align:left;
  margin: 0em 0.5em 0em 0.5em;
  padding: 0.5em 0em 0.5em 0em;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.nav .links li.close {
  text-align:right;
  border-bottom: none;
}
.nav .links li.last {
  border-bottom: none;
}
.nav .links li:after {
  position: absolute;
  left: -8px;
  top: 6px;
  bottom: 6px;
  width: 4px;
  display:block;
  background: #ffffff;
  content: " ";
  opacity: 0;
  
  -webkit-transition: opacity 0.5s; /* Safari */
  transition: opacity 0.5s;
}
.nav .links li.selected:after {
  opacity: 1;
}
label.click {
  cursor: pointer;
}
#toggle-menu {
  display: none;
}


/* ie must die */
.ie-8 .learning .skill, .ie-8 .contact .contact-method {
  width: 33%;
}
.ie-8 .contact .contact-method {
  border-top: none;
}
.ie-8 .from {
  padding-bottom: 2em;
}
.ie-8 .from .pane {
  width:50%;
  display: inline-block;
  vertical-align: top;
}
.ie-8 .from .map {
  overflow:hidden;

  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
}
.ie-8 .from .text {
  height: 400px;
  box-sizing: border-box;
  padding: 1em;
}
.ie-8 #toggle-menu.checked ~ .overlay {
  display: block;
}
.nav .links li:after {
  display: none\9;
}
.ie-9 .nav .links li:after {
  display: block;
}

@media screen and (min-width: 600px) {
  .learning .skill, .contact .contact-method {
    width: 33%;
  }
  .contact .contact-method {
    border-top: none;
  }
  .from {
    padding-bottom: 2em;
  }
  .from .pane {
    width:50%;
    display: inline-block;
    vertical-align: top;
  }

  .from .map {
    overflow:hidden;
    
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  }
  .from .text {
    height: 400px;
    box-sizing: border-box;
    padding: 1em;
  }
}
@media screen and (min-width: 1000px) {
  .learning .skill, .contact .contact-method {
    width: 330px;
  }
  .from .pane {
    width: 450px;
  }
}